
    <div class="row">
		<div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-nav" data-nav_id="nav_graph">
                    <span class="glyphicon glyphicon-equalizer"></span>
    			    <p>Graph</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" data-nav_id="nav_filesystem">
                    <span class="glyphicon glyphicon-folder-open"></span>
    			    <p>Files</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" data-nav_id="nav_settings">
                    <span class="glyphicon glyphicon-cog"></span>
    			    <p>Settings</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" data-nav_id="nav_stats">
                    <span class="glyphicon glyphicon-time"></span>
    			    <p>Statistics</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" data-nav_id="nav_errors">
                    <span class="glyphicon glyphicon-bell"></span>
    			    <p>Errors</p>
                </button>
            </div>
        </div>
	</div>